doctype html
html(ng-app="acm")
  head
    title= title
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-material-design/css-compiled/material.css')
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-material-design/css-compiled/ripples.css')
    link(rel='stylesheet', href='/javascripts/vendor/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/vendor/jquery/dist/jquery.min.js')
    script(src='javascripts/vendor/angular/angular.min.js')
    script(src='javascripts/vendor/angular-resource/angular-resource.min.js')
    script(src='javascripts/vendor/angular-route/angular-route.min.js')
    script(src='javascripts/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='javascripts/vendor/bootstrap-material-design/scripts/ripples.js')
    script(src='javascripts/vendor/bootstrap-material-design/scripts/material.js')
    script(src='javascripts/vendor/moment/moment.js')
    script(src='javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='javascripts/vendor/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.min.js')

    script(src='javascripts/hardware/hardware.module.js')
    script(src='javascripts/hardware/hardware.service.js')
    script(src='javascripts/hardware/hardware.controller.js')

    script(src='javascripts/calendar/calendar.module.js')
    script(src='javascripts/calendar/event.service.js')
    script(src='javascripts/calendar/calendar.controller.js')

    script(src='javascripts/app.js')
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") ACM Site
        div.collapse.navbar-collapse(ng-controller="header")
          ul.nav.navbar-nav
            li(ng-class="{active: isActive('')}")
              a(href="/") Home
            li(ng-class="{active: isActive('hardwares')}")
              a(href="/hardwares") Hardware
            li(ng-class="{active: isActive('calendar')}")
              a(href="/calendar") Calendar

    #main.container
      div(ng-view)
