extends layout

block content
  .row(style="margin-top: 15px;")
    - if (messages)
      - each message in messages
        p= message
    form(action="/login", method="post")
      .form-group
        label Username:
        input.form-control(type="text", name="username")

      .form-group
        label Password:
        input.form-control(type="password", name="password")
      .form-group
        input.btn.btn-primary(type="submit", value="Submit")
